@media (min-width: 1025px){
    html, body{
        margin: 0vw;
        padding: 0vw;
        background-color:white;
        scroll-behavior: smooth;
        scroll-padding-top: 80px;
    }
    h1,h2{
       font-family: 'Playfair Display', serif;
    }
    p{
        font-family: 'Roboto', sans-serif;
        font-size: 22px;
        color: #111;
    }
    .maincotainer{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        line-height: 2vw;
    }
    .profilediv{
        background-color: white;
        height: 35vw;
        margin: 1%;
        padding: 0vw;
        border-radius: .8vw;
        display: flex;
        flex-direction: row;
        gap: 40vw;
        opacity: 0.88;
        font-size: 1.5vw;
    }
    .profileimage{
        width: 25vw;
       height: 22vw;
       display: flex;
       align-items: center;
       justify-content: space-between;
    }
    .aboutdiv{
        background-color:#FAF9F6;
        height: 15vw;
        margin: 1%;
        border-radius: .8vw;
        opacity: 0.88;
        font-size: 20px;
        padding: 1%;
        text-align: center;
    }
    .skilldiv{
        background-color: white;
        height: 40vw;
        margin: 1%;
        border-radius: .8vw;
        display: flex;
        flex-direction: row;
        gap: 14vw;
        opacity: 0.88;
    }
    .contactdiv{
        background-color:#FAF9F6;
        display: flex;
        flex-direction: column;
        height: 20vw;
        margin: 1%;
        border-radius: .8vw;
        opacity: 0.88;
        font-size: 20px;
    }
    .project{
        display: flex;
        flex-direction: column;
        border-radius: .8vw;
        background-color: white;
    }
    .js{
        width: 20vw;
        height: 10vw;
        display: flex;
        flex-direction: column;
    }
    .converter{
        width: 18vw;
       height: 16vw;
       font-size: 10px;
    }
    .ticimage{
       width: 18vw;
       height: 16vw;
    }
    .projectdiv{
        display: flex;
        flex-direction: row;
        font-size: 18px;
        background-color: white;
    }
    .gmail, .Linkdein, .Github{
        width: 1.9vw;
        height: 1.9vw;
    }
    .Gmail, .github, .linkdein{
        background-color: #FAF9F6;
        border: none;
    }
    .input{
        display: flex;
        flex-direction: column;
        gap: 1vw;
    }
    .html, .react, .js{
        width: 6vw;
        height: 6vw;
    }
    .css{
        width: 6.5vw;
        height: 6.5vw;
    }
    .skillheading{
        display: flex;
        flex-direction: column;
    }
    .skillimagediv, .profilebutton, .projectbutton, .imagesdiv{
        display: flex;
        flex-direction: row;
        gap: 1.5vw;
    }
    .livedemo1, .livedemo2, .viewcode1, .viewcode2, .hireme, .cv{
        width: 6vw;
        height: 2vw;
        background-color: #4F46E5;
        color: #FCD34D;
    }
    .navbar{
        background-color:#FAF9F6;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 6vw;
        width: 100%;
        list-style: none;
        height: 3vw;
        font-family: 'Playfair Display', serif;
        font-size: 1.5vw;
        position: relative;
        scroll-behavior: smooth;
    }
    .livedemo1:hover{
        transform: scale(1.3);
        transition: transform 0.3s ease;
    }
    .livedemo2:hover{
        transform: scale(1.3);
        transition: transform 0.3s ease;
    }
    .viewcode1:hover{
        transform: scale(1.3);
        transition: transform 0.3s ease;
    }
    .viewcode2:hover{
        transform: scale(1.3);
        transition: transform 0.3s ease;
    }
    .hireme:hover{
        transform: scale(1.3);
        transition: transform 0.3s ease;
    }
    .cv:hover{
        transform: scale(1.3);
        transition: transform 0.3s ease;
    }
    .seccontainer{
        width: 100vw;
        height: 100vh;
        background-color: #FAF9F6;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .name, .email, .mobile{
        width: 40vw;
        height: 2vw;
    }
    .message{
        height: 5vw;
    }
    .send{
        background-color: #007BFF;
        height: 2.5vw;
        color: #111;
    }
}

@media (max-width: 600px){
    html, body{
        margin: 0vw;
        padding: 0vw;
    }
    h1,h2{
       font-family: 'Playfair Display', serif;
    }
    p{
        font-family: 'Roboto', sans-serif;
        font-size: 3.5vw;
        color: #111;
        font-weight: bold;
    }
    .navbar{
        background-color:#FAF9F6;
        margin: 1.5%;
        width:100%;
        height: 8vw;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        list-style: none;
        font-size: 4vw;
        gap: 8vw;
    }
    .maincotainer{
        max-width: 100%;
        max-height: 100%;
        display: flex;
        flex-direction: column;
    }
    .profilediv{
        background-color:white;
        margin: 2%;
        display: flex;
        flex-direction: row;
        height: 59vw;
        gap: 0vw;
        border-radius: .8vw;
    }
    .profileimage{
        width: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 48vw;
    }
    .aboutdiv{
        background-color:#FAF9F6;
        margin: 2%;
        text-align: center;
        opacity: 0.88;
        border-radius: .8vw;
    }
    .skilldiv{
        background-color: white;
        margin: 2%;
        border-radius: .8vw;
        display: flex;
        flex-direction: column;
        gap: 5vw;
    }
     .project{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .converter{
         width: 40vw;
         height: 35vw;
         margin: 5vw;
         margin-bottom: 0vw;
    }
    .ticimage{
        width: 40vw;
        height: 35vw;
        margin: 5vw;
        margin-bottom: 0vw;
        margin-top: 0;

    }
    .contactdiv{
        background-color:#FAF9F6;
        margin: 2%;
        border-radius: .8vw;
    }
    .gmail, .Linkdein, .Github{
         width: 8vw;
         height: 8vw;
    }
    .Gmail, .github, .linkdein{
        background-color:#FAF9F6;
        border: none;
    }
    .html, .react, .js, .css{
        width: 10vw;
    }
    .skillimagediv, .profilebutton, .projectbutton, .imagesdiv{
        display: flex;
        flex-direction: row;
        gap: 3vw;
    }
    .livedemo1, .livedemo2, .viewcode1, .viewcode2, .hireme, .cv{
        background-color: #4F46E5;
        color: #FCD34D;
        height: 8vw;
        width: 23vw;
    }
    .livedemo1:hover{
        transform: scale(1.3);
        transition: transform 0.3s ease;
    }
    .livedemo2:hover{
        transform: scale(1.3);
        transition: transform 0.3s ease;
    }
    .viewcode1:hover{
        transform: scale(1.3);
        transition: transform 0.3s ease;
    }
    .viewcode2:hover{
        transform: scale(1.3);
        transition: transform 0.3s ease;
    }
    .hireme:hover{
        transform: scale(1.3);
        transition: transform 0.3s ease;
    }
    .cv:hover{
        transform: scale(1.3);
        transition: transform 0.3s ease;
    }
    html, body2{
        background-color:#FAF9F6;
    }
    .seccontainer{
        width: 100vw;
        height: 100vh;
        background-color: #FAF9F6;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
    }
    .input{
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        gap: 3vw;
    }
    .name, .mobile, .email{
        width: 60vw;
        height: 5vw;
    }
    .message{
        width: 60vw;
        height: 20vw;
    }
    .send{
        width: 63vw;
        height: 8vw;
        border: none;
        background-color: #007BFF;
        color: #111;
    }
}